<div class="login-container animated fadeInDown" ng-controller="LoginCtrl">
    <div class="loginbox bg-white">
        <div class="loginbox-title">用户登录</div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" ng-model="data.userName" placeholder="用户名" />
        </div>
        <div class="loginbox-textbox">
            <input type="text" class="form-control" ng-model="data.password" placeholder="密码" />
        </div>
        <div class="loginbox-submit">
            <input type="button" ng-click="login()" class="btn btn-primary btn-block" value="登录">
        </div>
    </div>
    <div class="logobox">
    </div>
</div>