<div ng-controller="ProjectListCtrl">

    <div class="widget">
        <div class="widget-body">
            <div class="table-responsive">
                <table id="table" class="table table-bordered table-hover table-condensed data-list fix-header" cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="text-center">序号</th>
                        <th class="text-center">工程账号</th>
                        <th class="text-center">项目名称</th>
                        <th class="text-center">完工状态</th>
                        <th class="text-center">所属单位</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataList">
                            <td>{{item.id}}</td>
                            <td>{{item.projectAccount}}</td>
                            <td>{{item.projectName}}</td>
                            <td>{{item.status}}</td>
                            <td>{{item.ownName}}</td>
                            <td>
                                <button type="button" ng-click="toEdit(item.id)">编辑</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>